<section class="my-prezeo-fullwidth d-flex align-items-center">
    <div class="container">
        <div class="row mb-5" id="logo-row">
            <div class="col">
                <div class="mx-auto text-center">
                    <%= image_tag app_logo, class: "mx-auto" %>
                    <h1 class="h4 text-center mx-auto text-sos-secondary text-uppercase">Smart Online Shopping</h1>
                </div>
            </div>
        </div>
        <%= form_for :search_items, url: results_path, method: :get do |form| %>
            <div class="row" id="search-row-main">
                <div class="col-sm-10 col-md-8 col-lg-7 col-xl-7 offset-md-1 offset-lg-2 offset-xl-2 pr-0">
                    <%= form.text_field :query, value: params[:search_items].presence && params[:search_items][:query], class: "form-control-lg form-control btn-pill-left", placeholder: "Search Items Or Product..." %>
                 </div>
                <div class="col-sm-2 col-md-2 col-lg-1 col-xl-1 pl-0">
                    <%= button_tag( type: "submit", class: "btn btn-primary btn-block btn-lg btn-pill-right") do %>
                    <i class="fas fa-search"></i>
                    <% end -%>
                </div>
            </div>
        <% end %>
        <div class="row d-none d-sm-block d-md-none d-block d-sm-none" id="search-row">
            <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7 offset-md-1 offset-lg-2 offset-xl-2">
                <div class="form-group"><input class="form-control-lg form-control btn-pill-left btn-pill-right" type="search" placeholder="Search Item of Products.."></div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-1 col-xl-1"><button class="btn btn-primary btn-block btn-lg btn-pill-right btn-pill-left" type="button"><i class="fas fa-search"></i>&nbsp;Search</button></div>
        </div>
        <div class="row" id="description-row">
            <div class="col">
                <p class="small text-center font-weight-light text-sos-secondary">Search Any Items or Products In The Search Bar.</p>
            </div>
        </div>
    </div>
</section>